<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Great number Game</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number bewtween 1 and 100</p>
    <p>Take a guess</p>
    <h1 style = 'color:{{color}}'>{{resultguess}}</h1>
    <p>{{number}}</p>
    <form action = '/guess' method = 'POST'>
        <input type = 'text' name = 'randomnumber'>
        <input type= 'submit' value= 'submit guess'>
    </form>
</body>
</html>